@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
body {
  display: flex;
  justify-content: center;
  font-family: "Nunito", sans-serif;
}
section {
  margin-bottom: 3em;
}
h1 {
  border-bottom: 1px solid #000;
}
.body {
  max-width: 1024px;
}
.copyrights {
  display: flex;
}
.copyrights__logo {
  display: flex;
  width: 150px;
  height: 115px;
  background-image: url("https://rs.school/images/rs_school_js.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 30px;
}
@media (max-width: 768px) {
  .body {
    max-width: 100%;
  }
}
